.custom-switch {
    margin-right: 20px;
}

.custom-control-label::before {
    background-color: #f8f9fa;
    color: #6c757d;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #404258;
    color: #fff;
}


/* Estilos para el Modo Oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
  
  .dark-mode .navbar {
    background-color: #1a1a1a;
  }
  
  .dark-mode .navbar-brand {
    color: #e0e0e0;
  }
  
  .dark-mode .nav-link {
    color: #e0e0e0;
  }
  
  .dark-mode .nav-link:hover {
    color: #64c2d6;
  }
  
  /* Asegurar legibilidad del contenido del navbar en el modo oscuro */
  .dark-mode .navbar-collapse {
    background-color: #1a1a1a;
  }
  
  .dark-mode .navbar-toggler-icon {
    background-color: #e0e0e0;
  }
  
  /* ... (otros estilos del modo oscuro) */
  
  /* Switch Button para cambiar entre Modo Oscuro y Modo por Defecto */
  #dark-mode-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* ... (otros estilos del switch button) */
  